@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4 mb-4">Welcome To the Github GH-500 Secret demo app</h1>
    <div class="d-flex justify-content-center mt-5">
        <img src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" 
             alt="GitHub Octocat" 
             style="max-width: 400px; width: 100%;" />
    </div>
</div>

Writing a code update here

aws_secret_access_key: Rm29CHLQCeaT6V/Rsw3UFWW1/UWQ0lhsWBa3bdca

